/*FONTS*/

$roboto: 'Roboto';
$source: 'Source Sans 3';
$montserrat: 'Montserrat';

/*FONTS*/

/*COLORS*/

$colorWhite: #fff;
$colorBlack: #000;
$colorBlackMuted: rgb(19, 19, 19);
$colorWhiteMuted: rgb(245, 245, 245);
$colorAccent: rgb(89, 139, 224);
$colorBg: rgb(34, 34, 34);

$colorBorder: rgb(198, 198, 198);
$colorBorderSecondary: rgba(255, 255, 255, 0.2);
$colorBgGrey: rgb(234, 235, 237);
$colorBorderWhite: rgb(218, 218, 218);

$colorBgIcon: #EAEBED;
$colorBgIconSecondary: rgba(217, 217, 217, 0.6);

$colorBlackDiscount: rgba(0, 0, 0, 0.7);
$colorBgDiscount: rgb(255, 240, 233);
$colorTextDiscount: rgb(255, 103, 27);
/*COLORS*/

/*MEDIA*/

$laptop: 1200px;
$tabletLarge: 1000px;
$tabletSmall: 950px;
$phone: 320px;

/*MEDIA*/